* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1rem;
}

header {
  background-color: white;
}

.navigation {
  display: flex;
  flex-direction: column;

}

.navigation.open {
  display: flex;
}

main {
  padding: 1rem;
}

#courses {
  display: grid;
  gap: 10px;
}

.container {
  display: grid;
  grid-template: auto 1fr auto / auto 300px;
  grid-gap: 1rem;
  grid-column: 1/5;
  padding: 0.5rem;

}

h2 {
  background-color: black;
  color: white;
  text-align: center;

}

section .me,
.student {

  background-color: grey;
}


p {
  padding: 2rem;
}

.buttons {
  padding: 1rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  grid-gap: 1rem;

}


nav ul,
li,
a {
  list-style-type: none;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}



a span {
  background-color: grey;
}

.name {
  background-color: white;
  position: absolute;
  padding: 2rem;

}

footer {

  align-items: center;
  background-color: grey;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 1rem;
}

picture img {
  width: 150px;
  height: auto;
  margin-left: 70px;
  padding: 1rem;
  margin-bottom: 28px;
}

#credits {
  text-align: center;
}

.spel {
  margin: 2%;
}

#menuBtn{
font-size:2rem;
background:none;
border:none;
cursor:pointer;
margin-left: 95%;
}