
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 1rem;
}

h1 {
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
  color: black;
}

main {
  display: grid;
   grid-template: auto 1fr auto / auto 300px;
  grid-gap: 1rem;
  grid-column: 1/4;
}



.item-1 {
	text-align: center;
	background-color: black;
	padding: 0.5rem;
	color: #fff;
  grid-row: 1/3;
  grid-column: 1/5;
  
}

 .item-2 {
 border: 1px solid black;
 background-color: black;
 text-align: center;
}

.item-3 {
  background-color: black;
  text-align: center;
  color: white;
  
}

.smash {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: larger;
  color: black;
}

.home {
  background-color: grey;
}
  nav li a {
     
     color: white;
     border: 0 solid;
    margin: 2px;
    text-decoration: none;
     border-radius: 2px;
  }
  
  picture img {
     width: 200px;
    height: auto;
   
    margin: 5px;
    margin-left: 70px;
  }

  footer img {
    width: 100px;
    height: auto;
    margin: 5px;
    margin-left: 70px;
  }


h2 {
  background-color: black;
  color: white;
  
}


p {
  padding: 2rem;
   background-color: rgba(128, 128, 128, 0.938)
 
}

 .navigation {
	
  padding: 1rem;
	color: white;
  background-color: black;
  list-style-type: none;
}

footer {
  background: var(--byuiblue);
  color: var(--callout);
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
 
}

#courses{
display:grid;
grid-template-columns:1fr;
gap:10px;
}

.completed{
background:green;
color:white;
padding:10px;
}

button {
  margin: 10px;
  padding: 1rem 1rem 1rem  ;
}

